{% extends 'fond/base.html' %}
{% load static %}

{% block base %}


    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ patient.photo.url }}" alt="Card image cap"
                             id="product-detail">
                    </div>
                    <div class="row">

                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                             data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ patient.photo.url }}"
                                                     alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ patient.photo.url }}"
                                                     alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ patient.photo.url }}"
                                                     alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ patient.fullName }}</h1>
                            <h1 class="h2">diagnozy: {{ patient.disease }}</h1>
                            <p class="h3 py-2">tolyq kazhet summa: <strong style="color: red">{{ patient.moneySum }}
                                tg</strong></p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Jinalgan summa:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong style="color: #22ff00">{{ patient.jinalgany }}
                                        tg</strong></p>
                                </li>
                            </ul>

                            <h6>Tolyq akparat:</h6>
                            <p>{{ patient.description }}</p>

                            {% if user.is_authenticated %}
                                {% if patient.moneySum > patient.jinalgany %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="patient_id" value="{{ patient.pk }}">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="col d-grid">
                                                    <label> Qarazhat salu <br>
                                                        <input name="money" type="number" placeholder="Qarazhat engiz:"
                                                               class="form-control">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pb-3 mt-3">
                                            <div class="col d-grid">
                                                <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                        value="addtocard">Jiberu
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <h1 style="color:red;" class="text-center">Qarajan tolyqtay zhinaldy</h1>
                                {% endif %}
                                <center><h3>comment qaldyru</h3></center>
                                <form method="post">
                                    <input type="hidden" name="patient_id" value="{{ patient.pk }}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">comment</label>
                                        <textarea name="comment" id="exampleInputPassword1"
                                                  class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">qosu</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center><h3>comments</h3></center>
        <hr>
        <div class="container">
            <ul class="p-0">
                {% for comment in patient.comment_set.all %}

                    <li>
                        <div class="row comments mb-2">
                            <div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
                                <img id="profile-photo" width="60" height="60"
                                     src="http://nicesnippets.com/demo/man02.png"
                                     class="rounded-circle"/>
                            </div>
                            <div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
                                <div style="display: flex; justify-content: space-between">
                                    <h4 class="m-0"><a href="#" style="color: #000000">{{ comment.user }}</a></h4>
                                    <time class="text-black-50 ml-3">{{ comment.created_at|date:"SHORT_DATE_FORMAT" }}</time>
                                </div>

                                <p class="mb-0 text-red">{{ comment.message }}</p>
                            </div>
                        </div>
                    </li>

                    <hr>
                {% endfor %}
            </ul>
        </div>
        <br><br><br>
    </section>
    <!-- Close Content -->

{% endblock base %}